---
const { title, blockText, id="", imageUrl="", imageAlt="", imageW="", imageH="", imageClass=""} = Astro.props;
import '../styles/global.css';
import {Image} from 'astro:assets';
---
<style> 
    .block-container {
        display: grid;
        background-color: #ffffff;
        border: 1px solid #e2e7f0;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(22, 36, 61, .06), 0 6px 18px rgba(22, 36, 61, .06);
        padding: 1.5rem;
        width: 90%;
        gap: 16px;
        margin: 0 auto;
    }

    .block {
        display: flex;
    }

    .block-text {
        flex: 1;
    }

    .block img {
        margin-left: auto;
    }

    h2 {
        color: #1a1917;
        font-size: xx-large;
        font-weight: 900;
        margin: 0 0 0.5rem 0;
    }

    p{
        font-family: var(--source-sans-3);
        color: #5c5852;
        margin: 0;
    }

    li{
        font-family: var(--source-sans-3);
        color: #5c5852;
        margin: 0;
    }

    @media (max-width: 600px) {
        .block{
            flex-direction: column;
        }
    }

</style> 

<section class = "block-container" id={id || undefined}>
    <div class = "block">
        <div class = "block-text"> 
            <h2> { title } </h2>
            <p> <Fragment set:html={blockText}/> </p>
            <slot />
        </div>
        {imageUrl && <Image class={imageClass} src={imageUrl} alt={imageAlt} width={imageW} height={imageH} />}
    </div>
</section>

